<div class="list-group h-100 w-100">
    @Html.ActionLink("Add Product", "Create", "Home", new { @class = "list-group-item" })
    @Html.ActionLink("Product List", "getAll", "Home", new { @class = "list-group-item" })
</div>
