@model SourceControlAss.Models.Employee
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="card">
        <br />
        <br />
        <div class="card-title">
            <h1>Welcome @ViewBag.Name  !!</h1>
        </div>
    </div>
</div>