body {
    background-color: #bcdcf3;
    margin: 0px;
}
footer {
    background-color: #3399ff;
    padding: 20px;
}
nav {
    background-color: #3399ff;
}
article{
    margin:20px;
}
header {
    padding: 20px;
    background-color: #808080;
}
button {
    background-color: #3399ff;
    color: #ffffff;
    padding:5px;
}
