
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-lg-11 text-center">
        <h1 style="font-family: 'Abril Fatface', cursive;">Welcome @Session["Name"]</h1>
    </div>

</div>
