
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-lg-11 text-center">
        <h1 style="font-family: 'Abril Fatface', cursive;">Welcome @Session["Name"]</h1>
    </div>
    <div class="col-lg-1" style="padding-right:0;margin-top:20px">

        @Html.ActionLink(" Logout", "Logout", "Auth", "", new { @class = "btn btn-outline-success", id = "submit" })

    </div>
</div>
