
@{
    ViewBag.Title = "Index";
}

<div class="row bg-danger h-100" style="height:100%">
    <div class="col-lg-3 h-100">
        @Html.Partial("_Navigation")
    </div>
    <div class="col-lg-9">
        <h1>Welcome @Session["Name"]</h1>

    </div>
</div>

